---
interface Props {
  name: string;
  type: "number" | "text" | "password" | "email" | "tel";
  _class: string;
  icon?: string;
  id: string;
}
import { Icon } from "astro-icon/components";
const { id, name, type, _class, icon } = Astro.props;
---

<div class="inputContainer">
  {icon && <Icon class="input-icon" name={icon} size={40} />}
  <input id={id} type={type} class={_class} name={name} />
</div>

<style>
  .inputContainer {
    position: relative;
    display: flex;
    width: 100%;
  }
  .inputContainer input {
    width: 90%;
    max-height: 45px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    background-color: #f8f8f8;
    color: #000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    outline: none;
    transition: 0.3s;
    padding-left: 15%;
  }
  .inputContainer .error {
    border: 1.3px solid red;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    max-height: 40px;
    width: 12%;
    margin-left: 2px;
    transform: translateY(-50%);
    /* transform: translateX(1px); */
    background-color: rgb(243 244 246);
    /* border-left: 1px solid #ccc; */
  }
</style>
